<div id="titulo" class="container-flex p-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-dark display-1">Ranking</h1>
        </div>
    </div>
</div>

<div id="tabla-ranking" class="container p-5">
    <h1 class="text-center display-4 text-black">¡Jugadores y sus Registros!</h1>
    <table class="table table-hover table-borderless table-striped mt-5 text-center" style="background-color: #F28627;">
        <thead style="background-color: #c22222;">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Juego</th>
                <th scope="col">Jugadores</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ganador</th>
                <th scope="col">Delete</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Ranking of ranking" (click)="onSelect(Ranking)" [class.selected]="Ranking === selectedRanking">
                <th scope="row">{{Ranking.id}}</th>
                <td>{{Ranking.juego}}</td>
                <td>{{Ranking.jugadores}}</td>
                <td>{{Ranking.fecha}}</td>
                <td>{{Ranking.ganador}}</td>
                <td><button class="btn btn-primary" (click)="DeleteRanking(Ranking)">Delete</button></td>
                <td><button class="btn btn-primary">Modify</button></td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <!-- <div class="col-sm-12 d-flex justify-content-end">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div> -->
    </div>
</div>