<div id="titulo" class="container-flex p-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center text-dark display-1">Ranking</h1>
        </div>
    </div>
</div>

<div id="tabla-ranking" class="container p-5">
    <h1 class="text-center display-4 text-black">¡Jugadores y sus Registros!</h1>
    <table class="table table-hover table-borderless table-striped mt-5 text-center" style="background-color: #F28627;">
        <thead style="background-color: #c22222;">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Juego</th>
                <th scope="col">Jugadores</th>
                <th scope="col">Fecha</th>
                <th scope="col">Ganador</th>
                <th scope="col">Hora</th>
                <th scope="col">Delete</th>
                <th scope="col">Modify</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let Ranking of ranking | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}" (click)="onSelect(Ranking)" [class.selected]="Ranking === selectedRanking">
                <th scope="row">{{Ranking.id}}</th>
                <td>{{Ranking.juego}}</td>
                <td>{{Ranking.jugadores}}</td>
                <td>{{Ranking.fecha}}</td>
                <td>{{Ranking.hora}}</td>
                <td>{{Ranking.ganador}}</td>
                <td><button class="btn btn-primary" (click)="DeleteRanking(Ranking)">Delete</button></td>
                <td><button class="btn btn-primary" (click)="ShowUpdateForm()">Modify</button></td>
            </tr>
        </tbody>
    </table>
    <!--Go to create Ranking Form-->
    <button class="btn btn-primary" (click)="GoToRankingForm()">Go to create new data</button>
    <!--Update form-->
    <div class="row">
         <div class="col-sm-12 d-flex justify-content-end">
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div> 
    </div>
    <br>
    <form [formGroup]="UpdateForm" [ngStyle]="{'display': displayForm ? 'block':'none'}" action="" method="get">
        <h1>Update</h1>
        <label for="id">
            <p>ID</p>
            <input value="{{selectedRanking.id}}" formControlName="{{selectedRanking.id}}"  type="number" name="id" id="id">
        </label>
        <label for="id">
            <p>Juego</p>
            <input value="{{selectedRanking.juego}}" formControlName="{{selectedRanking.juego}}"   type="number" name="juego" id="juego">
        </label>
        <label for="id">
            <p>Jugadores</p>
            <input value="{{selectedRanking.jugadores}}" formControlName="{{selectedRanking.jugadores}}" type="number" name="jugadores" id="jugadores">
        </label>
        <label for="id">
            <p>Fecha</p>
            <input value="{{selectedRanking.fecha}}" formControlName="{{selectedRanking.fecha}}"  type="text" name="fecha" id="fecha">
        </label>
        <label for="id">
            <p>Hora</p>
            <input value="{{selectedRanking.hora}}" formControlName="{{selectedRanking.hora}}" ([ngModel])="hora" type="text" name="hora" id="hora">
        </label>
        <label for="id">
            <p>Ganador</p>
            <input value="{{selectedRanking.ganador}}" formControlName="{{selectedRanking.ganador}}"  ([ngModel])="ganador" type="text" name="ganador" id="ganador">
        </label>
        <br>
        <input (click)="Update(selectedRanking)" value="Envia" class="btn btn-primary" type="submit" name="" id="">
    </form>
</div>
