<!--Carousel Inicio-->
<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active carousel-image">
      <img class="d-block w-100" src="../../../assets/resources/img/img-oca.jpg" alt="First slide">
    </div>
    <div class="carousel-item carousel-image">
      <img class="d-block w-100" src="../../../assets/resources/img/Pictionary.jpg" alt="Second slide">
    </div>
    <div class="carousel-item carousel-image">
      <img class="d-block w-100" src="../../../assets/resources/img/Slider_Tic_Tac_Toe.png" alt="Second slide">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--Carousel Final-->

<div class="container-fluid">
  <!--Content Inicio-->
  <div class="text-center py-4">
    <h1 class="">MULTIJUEGOS</h1>
    <p class="pb-4">El juego consite en tres juegos multijugador: Juego de la Oca, Pictionary y Tres en raya.</p>
    <div class="ratio ratio-16x9 p-3">
      <video width="900" controls>
        <source src="assets/video/video_multijuegos.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
    <h2 class="pt-4">¡Descárguelo, instálelo y juegue en línea ahora!</h2>
    <p>Al hacer clic <a class="text-decoration-none text-dark" target="_blank"
        href="https://github.com/adgo641t/UPC">aquí</a>, accederá al repositorio de github del proyecto.</p>
  </div>

  <!--Content Final-->


</div>