<h1 class="text-center p-5 titulo">About Us</h1>

<!-- <div class="container p-5 text-center">
    <h1 class="text-white display-2">CONOCE A LOS DESAROLLADORES WEB</h1>
    <p class="fs-5">Somos un grupo de alumnos de segundo de grado superior de desarollo de aplicaciones web en el Instituto Provençana.</p>
</div> -->

<div class="container p-5 text-center">
    <h1 class="text-white ">DESAROLLADORES DEL JUEGO</h1>
    <p class="fs-5">Somos un grupo de alumnos de segundo de Ingeniería en Sistemas de Telecomunicaciones y Telemática en la Universidad Politécnica de Cataluña. Para aprender sobre sistemas operativos y el uso de servidores, hemos creado este juego el cual requiere conexión
        con el servidor de la UPC.</p>
  </div>

<div class="container d-none d-sm-block">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-5">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Enric.jpg" class="card-img-top img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Enric</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Pau.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pau</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Gerard.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Gerard</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>