<div class="text-center p-5 titulo">
    <h1>About Us</h1>
  </div>


<div class="container p-5 text-center">
    <h1 class="text-white">DESAROLLADORES DEL JUEGO</h1>
    <p class="fs-5">Somos un grupo de alumnos de segundo de Ingeniería en Sistemas de Telecomunicaciones y Telemática en
        la Universidad Politécnica de Cataluña. Para aprender sobre sistemas operativos y el uso de servidores, hemos
        creado este juego el cual requiere conexión
        con el servidor de la UPC.</p>
</div>

<!-- Cards juego Desktop -->
<div class="container d-none d-sm-block">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-5">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Enric.jpg" class="card-img-top img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Enric</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Pau.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pau</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Gerard.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Gerard</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Cards juego Desktop -->

<!-- Cards juego mobile -->
<div class="container d-block d-sm-none d-flex align-items-center justify-content-center">

    <div id="carouselJuego" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselJuego" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselJuego" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselJuego" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/Enric.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Enric</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        egestas lectus quis nunc fringilla.</p>
                                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/Pau.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pau</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        egestas lectus quis nunc fringilla.</p>
                                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/Gerard.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Gerard</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        egestas lectus quis nunc fringilla.</p>
                                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!-- Fin Cards juego mobile -->


<div class="container p-5 text-center">
    <h1 class="text-white">DESAROLLADORES WEB</h1>
    <p class="fs-5">Somos un grupo de alumnos de segundo de grado superior de desarollo de aplicaciones web en el
        Instituto Provençana.</p>
</div>

<!-- Cards web Desktop -->
<div class="container pb-5 d-none d-sm-block">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Adrian.jpg" class="card-img-top img" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Adrian</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Edgar.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Edgar</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/PauS.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Pau</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <div class="carta-box">
                <div class="carta">
                    <div class="cara detras">
                        <div class="card">
                            <img src="../../../assets/resources/img/Mario.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mario Cerdà</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                    egestas lectus quis nunc fringilla.</p>
                                <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                <a href="https://www.instagram.com" target="_blank" class="bi bi-instagram"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Cards web Desktop -->

<!-- Cards web mobile -->
<div class="container pb-5 d-block d-sm-none d-flex align-items-center justify-content-center">

    <div id="carouselWeb" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselWeb" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselWeb" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselWeb" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselWeb" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/Adrian.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Adrian</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        egestas lectus quis nunc fringilla.</p>
                                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank"
                                        class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/Edgar.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Edgar</h5>
                                    <p class="card-text">Soy de Girona pero vivo en Gavá por los
                                        estudios. Me gusta leer y hacer deporte.</p>
                                    <a href="https://github.com" target="_blank"
                                        class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank"
                                        class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/Mario.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Mario</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        egestas lectus quis nunc fringilla.</p>
                                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank"
                                        class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carta-box">
                    <div class="carta">
                        <div class="cara detras">
                            <div class="card">
                                <img src="../../../assets/resources/img/PauS.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pau</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                                        egestas lectus quis nunc fringilla.</p>
                                    <a href="https://github.com" target="_blank" class="bi bi-github"></a>
                                    <a href="https://www.instagram.com" target="_blank"
                                        class="bi bi-instagram"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin Cards web mobile -->