<footer class="text-center text-white bg-dark">
  <!-- Grid container -->

  <div class=" d-flex flex-column py-3">
    <div>
      <img src="../../../assets/resources/img/logo.svg" alt="logo de MULTIJUEGOS">
      <span class="ps-2">MULTIJUEGOS</span>
    </div>
    <br>
    <h4 class="text-center">¿Estás listo?</h4>
    <br>
    <div class="mx-auto">
      <button type="button" class="btn btn-danger" routerLink="/login">Register</button>
    </div>
  </div>

  <section class="p-3">
    <div class="container text-center text-md-start">
        <div class="row mt-3">

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">MULTIJUEGOS</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #ffffff; height: 2px" />
                <p>
                  El juego consite en tres juegos multijugador: Juego de la Oca, Pictionary y Tres en raya.
                </p>
            </div>
            <div class="col-md-2 mx-auto mb-4 ">
                <h6 class="text-uppercase fw-bold">Enlaces útiles</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #ffffff; height: 2px" />
                <p>
                    <a routerLink="/home" class="text-white text-decoration-none">Home</a>
                </p>
                <p>
                    <a routerLink="/aboutgame" class="text-white text-decoration-none">Game</a>
                </p>
                <p>
                    <a routerLink="/aboutus" class="text-white text-decoration-none">About us</a>
                </p>
                <p>
                    <a routerLink="/ranking_results" class="text-white text-decoration-none">Ranking</a>
                </p>

            </div>

            <div class="col-md-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold">Contacto</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                    style="width: 60px; background-color: #ffffff; height: 2px" />
                <p><i class="bi bi-house-door-fill"></i> c/ Sant Pius X, núm 8. 08901 - L'Hospitalet de
                    Llobregat</p>
            </div>

        </div>
    </div>
</section>






  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3">
    Copyright © 2023. Multijuejos. All rights reserved.
  </div>
  <!-- Copyright -->
</footer>